<h1>Ceci est une page qui fait montrer des articles!</h1>
<%= @article.title %>
      <%= @article.text %>

      <%= cl_image_tag @article.main_picture %>
      <%= cl_image_tag @article.sub_picture1 %>
      <%= cl_image_tag @article.sub_picture_2 %>
      <%= cl_image_tag @article.sub_picture3 %>
      <%= cl_image_tag @article.sub_picture4 %>
