<div>
  <div>
    <h1>Ceci est une page qui fait montrer UN article!</h1>
    <%= @article.title %>
    <%= sanitize @article.text %>

    <%= cl_image_tag @article.main_picture %>
    <%= cl_image_tag @article.sub_picture1 %>
    <%= cl_image_tag @article.sub_picture_2 %>
    <%= cl_image_tag @article.sub_picture3 %>
    <%= cl_image_tag @article.sub_picture4 %>
  </div>
<%= link_to "Editer?", edit_article_path(@article)  %>
<%= link_to "EFFACER!", article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  <div>
    <div>
      <div>
        <h3>Commentaires!</h3>
        <% if @article.comments.empty? %>
        <p>Soyez le preums a lacher un comms</p>
        <% else %>
        <ul>
          <% @article.comments.each do |comment| %>
          <li>
            <%= comment.text %>
            <%= link_to "Delete", comment_path(comment),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

          </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
  <div>
      <div>
        <%= render "comments/new" %>
      </div>
    </div>
  </div>

</div>
