<h1>Welcome to Lambert's Blog</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %>
      <%= article.text %>

      <%= cl_image_tag article.main_picture %>
      <%= cl_image_tag article.sub_picture1 %>
      <%= cl_image_tag article.sub_picture_2 %>
      <%= cl_image_tag article.sub_picture3 %>
      <%= cl_image_tag article.sub_picture4 %>
    </li>

  <% end %>
</ul>
